* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background-color: #000000;
    background-repeat: repeat;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;
    justify-items: center;
    height: 90vh;
}

@font-face {
  font-family: Font;
  src: url(../fonts/KronaOne-Regular.ttf);
}


nav {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

strong {
  position: absolute;
  top: 0; left: 0;
  margin: 1rem;
  font-size: 1.5vw;
  writing-mode: vertical-lr;
  text-orientation: revert;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none  ;
  display: flex;
  align-items: center;
}

ul>li {
  margin: 0.5rem;
  font-size: 1vw;
}

ul a {
  text-decoration: none;
  color: #ffffff;
  cursor: crosshair;
}

.bloc {
    position: relative; margin: 0;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    width: 50vw;
    height: 80vh;
}

.bloc p {
    display: block;
    font-family: 'Font', sans-serif;
    letter-spacing: 1px;
    font-size:13px;
    color: #ffffff;
}
.bloc h3 {
    display: block; width: 100%;
    color: white;
}

.bloc h3::before {
    content: '';
    display:inline-block;
  vertical-align: bottom;
    writing-mode: vertical-lr;
    width: 20%;
    height: 1px ;
    background: linear-gradient(to right, #232323 0%, #ffffff 100%);

}

.vague {
  position: absolute;
  bottom: 0;
  width: 100vw; height: 10vh;
  overflow: hidden ;
}

.main .footer {
  position: absolute; transform: translate(-50%,-50%);
  left: 50%; bottom: 1vh;
  z-index: 10;
  color: black;
    letter-spacing: 3px;
}


svg {
  width: 100%;
}








