* {
  margin: 0;
  box-sizing: border-box;
}


body {
    background-color: #000000;
    background-repeat: repeat;
    height: 100%;
    overflow-x: hidden;
}

.body {
    height: 100%;
}

@font-face {
  font-family: Font;
  src: url(../fonts/Akira.otf);
}


nav {
    height: 10vh;
    font-family: Font, serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;font-size: 1vh;
}

strong {
  position: absolute;
  top: 0; left: 0;
  margin: 1rem;
    font-size: 1.5vh; font-family: Font;
  writing-mode: vertical-lr;
  text-orientation: revert;
}

ul {
    font-family: Font;
  padding: 0;
  margin: 0;
  list-style: none  ;
  display: flex;
  align-items: center;
}

ul>li {
  margin: 1rem;
  font-size: 1rem;
}

ul .contact_li::after {
    content: "";
    display: inline-block;
    width: inherit;
    height: 1px ;
    background: linear-gradient(to right, #8a8a8a 0%, #cc6c6c 100%);
}

ul a {
  text-decoration: none;
  color: #ffffff;
  cursor: crosshair;
}


.vague {
    position: absolute;
    bottom: 0;
    width: 100vw;
    overflow: hidden ;
}

footer {
    margin-bottom: -3%;
    height: 10vh;
    display: block;
    position: relative;
    width: 100vw;
    color: black;

}

footer .footer {
    position: absolute;
    bottom: 20%; left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    z-index: 1000;
    letter-spacing: 3px;
}


svg {
    margin: 0;
    width: 100%;
    color: white;

}


#contact{
    position: relative;
    display: flex;
    height: 80vh;
    padding-top: 5%;
    padding-bottom: 10%;
    align-items: center ;
    flex-direction: column;
    justify-content: space-evenly;
}

#contact h2 {
    color: white;
    text-align: center;
}

#contact .insta {
    margin: 4% 0;
    display: block;
    color: white;
}

#contact .insta h3 {
    display: block;
    text-align: center;
}

section#contact h2::after {
    content: "";
    display: inline-block;
    width: 10vw;
    height: 1px ;
    background: linear-gradient(to left, #ffffff 0%, #484848 100%);
}
section#contact h2::before {
    content: "";
    display: inline-block;
    width: 10vw;
    height: 1px ;
    background: linear-gradient(to right, #ffffff 0%, #4b4b4b 100%);
}

#contact h2 {
  animation-duration: 1s;
    animation-name: swipe; animation-iteration-count: 1;
}

@keyframes swipe {
    from  {
        margin-right: 10%;
    }
    to {
        margin-right: 0;
    }
}


.contact_div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    max-height: 600px;
    text-align: center;
    color: white;
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {

    from {
        margin-left: 10%;
    }
    to {
      margin-left: 0 ;
    }
}

section#contact .contact_div .texte {
    height: 20%;
}

section#contact .contact_div .texte h3{
    display: block;
    color: #ffffff;
}

section#contact .contact_div .texte::after {
    content: "";
    position: absolute;
    z-index: 10000;
    width: 50vw; transform: translate(-50%,-50%);
    height: 1px ;
    background: linear-gradient(to right, #e3e3e3 0%, #7c7c7c 100%);
    margin-bottom: 20%;
}

section#contact .contact_div .texte h1{
    margin-bottom: 40px;
    font-size: 3em;
}

section#contact .contact_div form{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80%;
}

section#contact .contact_div form input{
    width: 45%;

}

section#contact .contact_div form input:hover,
section#contact .contact_div form textarea:hover {
    border-bottom: 2px solid #ffffff;
}

section#contact .contact_div form input,
section#contact .contact_div form textarea {
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #1f2121;
    transition: 0.2s;
    border-radius: 10px;
}

section#contact .contact_div form input[name="Object"]{
    width: 100%;
}

section#contact .contact_div form textarea {
    width: 100%;
    resize: none;
    height: 150px;
    margin-bottom: 5%;
}

section#contact .contact_div form button {
    position: relative;
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #797979;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    transition: 0.2s;
}


section#contact .contact_div form button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 40px -10px #1f2121;
}



@media screen and (max-height: 900px) {

  nav {
    margin-bottom: 10%;
  }
  section#contact h2::after, section#contact h2::before {
      display: none;
  }

  .vague  {
      margin-bottom: -30%;
      position: relative;
  }
     {
        overflow: hidden;
        margin-top: 5%;

    }
   . {
      color: white;
      margin-top: -30vh;
  }

}


