* {
  margin: 0; margin-right: -5px;
  padding-right: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  background-color: #000000;
  background-repeat: repeat;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;
    justify-items: center;
    height: 85vh;
}

@font-face {
  font-family: Font;
  src: url(../fonts/Akira.otf);
}

.main .header  {
  color: white;
}

.main .header h1 {
  font-family: Font, serif;
  color: white;
  font-weight: 10000;
  letter-spacing: 3px;
}


nav {
  font-family: Font, serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;font-size: 1vh;
  height: 5vh;
}

strong {
  font-family: Font, serif;
  position: absolute;
  top: 0; left: 0;
  margin: 1rem;
  font-size: 1.5vh;
  writing-mode: vertical-lr;
  text-orientation: revert;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none  ;
  display: flex;
  align-items: center;
}

ul>li {
  margin: 1rem;
  font-size: 1rem;
}

ul a {
  text-decoration: none;
  color: #ffffff;
  cursor: crosshair;
}

.vague1 {
  margin-left: -2px;
  position: relative;
  width: 100vw; height: 10vh;
}

.vague2 {
  margin-left: -2px;
  position: relative;
  width: 100vw; height: 10vh;
}

svg {
  width: 100%;
  color: white;
}

.footer {
  position: absolute; transform: translate(-50%,-50%);
  left: 50%; bottom: 0;
  z-index: 10;
  color: black;
  letter-spacing: 3px;
  margin: 0;
}



.main .fleche {
  color: white;
  margin: 2%;
  position: absolute;
  bottom: 20%; left: 0;
}

.couverture {
  position: relative;
  display: flex;
  justify-content: center; align-items: center;
  overflow: hidden;
  margin: 5% auto;
}

.couverture img {
  width: 95%;
}


.bloc1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; align-items: center;
  flex-direction: row;
  margin: 5vh 0;
}

.bloc1 .photo2 {
  width: 44vw;
  margin-left:3%;
  margin-top: 3vh;
}

.bloc1 .photo1 {
  width: 44vw;
  margin-right: 3%;
  margin-bottom: 3vh;
}

.bloc2 {
  position: relative;
  display: flex;
  justify-content: center; align-items: center;
  overflow: hidden;
  margin: 5% auto;
}

.bloc2 img {
  width: 95%;
}


.bloc3{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; align-items: center;
  flex-direction: row;
  margin: 5% 0;
}


.bloc3 .photo2 {
  width: 44vw;
  margin-left:3%;
  margin-top: 3vh;
}

.bloc3 .photo1 {
  width: 44vw;
  margin-right: 3%;
  margin-top: 3vh;
}
.bloc4 {
  position: relative;
  display: flex;
  justify-content: center; align-items: center;
  overflow: hidden;
  margin: 1% auto;
}

.bloc4 img {
  width: 95%;
}

.pied_de_page {
  height: 1px;
}

@media screen and (max-width: 711px) {

  body {
    overflow-x: hidden;
  }
  .vague1 {
    display: none;
  }
  .vague2 {
    display: none;
  }

  .footer {
    color: white;
  }

    nav {
        margin-bottom: 10%;
    }
    .couverture {
      margin-top: 10vh;
    }
  .bloc1 img {
    max-width: 90%;
    height: auto ;
  }

  .bloc3 img {
    width: 90%;
  }



}




