* {
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #000000;
  background-repeat: repeat;
  height: 100vh;
  overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;
    justify-items: center;
    height: 85vh;
}

@font-face {
  font-family: Font;
  src: url(../fonts/Akira.otf);
}

.main .header  {
  color: white;
}

.main .header h1 {
  font-family: Font,serif;
  color: white;
  font-size: 4vw;
  font-weight: 10000;
  letter-spacing: 3px;
}


nav {
  font-family: Font, serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;font-size: 1vh;
  height: 10vh;
}

strong {
  font-family: Font,serif;
  position: absolute;
  top: 0; left: 0;
  margin: 1rem;
  font-size: 1.5vh;
  writing-mode: vertical-lr;
  text-orientation: revert;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none  ;
  display: flex;
  align-items: center;
}

ul>li {
  margin: 1rem;
  font-size: 1rem;
}

ul a {
  text-decoration: none;
  color: #ffffff;
  cursor: crosshair;
}


.vague1 {
  position: relative;
  width: 100vw; height: 10vh;
}

.vague2 {
  position: relative;
  width: 100vw; height: 10vh;
}

svg {
  width: 100%;
  color: white;
}

footer {
  position: relative;
}

.footer {
  position: absolute; transform: translate(-50%,-50%);
  left: 50%; bottom: 50%;
  z-index: 10;
  color: #ffffff;
  letter-spacing: 3px;
  margin: 0;
}



.main .fleche {
  color: white;
  margin: 2%;
  position: absolute;
  bottom: 20%; left: 0;
}


.video {
  display: flex;
  justify-content: center; align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
}

.video iframe {
  width: 85%; height: 85%;
  border: none;
}

.photo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; align-items: center;
  flex-direction: row;
  width: 100vw;
  overflow: hidden;
  margin: 1% auto;
}

.photo img {
  display: flex;
  justify-self: center;
  width: 40%;
  margin: 1%;
}

.pied_de_page {
  height: 1%;
}


@media screen and (max-width: 800px){


  .video {
    height: 60%;
    display: block;
  }
  .video iframe {
    box-sizing: content-box;
    width: 100%;
  }

  .photo img {
    width: 90%;
    margin: 2vh 0;
  }
}
@media screen and (max-width: 450px) {

  .vague1 {
    display: none;
  }
  .vague2 {
    display: none;
  }

  .footer {
    color: white;
  }

    nav {
        margin-bottom: 10%;
    }
}
