<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'studio_vitrine/css/about.css' %}">
</head>
<body>
        <nav>
            <div class="logo">
                <strong><a href="/" style="text-decoration: none; color: white ; cursor: crosshair;">Iris Futur</a></strong>
            </div>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>

        </nav>
        <div class="main">
            <div class="bloc">

                <h3>Iris Futur is a french director and photographer.</h3>
                <br>
                <p>Fascinated by video, visual experimentation and new technologies,
                    her work combines together various media including video to create unique
                    experiences and stories.
                </p>
            </div>
        </div>
        <footer>
            <p class="">Iris Bordier</p>
        </footer>
</body>
</html>