<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'studio_vitrine/css/work.css' %}">
</head>
<body>
<!-- faire un veritable portofolio avec tous les projets sous forme de grille prennant tous l'espace d'ecran
la page index est donc juste une intro differente, plus complexe-->
    <div class="main">

    </div>
</body>
</html>